@charset "UTF-8";
.loginheader {
	font-size: 40px;
	margin-top:30px; 
	margin-bottom:30px;


}
.loginemail {
	width: 340px;
	font-weight:bold;
	
}
 .logingroup {
	border-style:solid;



}
.loginemail {
	width: 340px;
	font-weight:bold;
	
}
.naverbutton {
	margin-right: 9px;
	border-style:solid;
	height: 35px;
    line-height: 35px;
    font-size: 11px;
    padding-left: 6px;
    float:left
}
.naverfont {
	margin-top: 15px;
	line-height: 35px;
	text-align:left;
	width:300px;
	color: #fff;
    background-color: #00c63b;
    text-shadow: 0 0 2px rgb(0 0 0 / 20%);
    border-style:solid;
}

/*======= Button 2 =======*/
.form-group .btn btn-default btn2 {
	width: 341px; height: 54px; margin-top:20px; margin-bottom:20px; border-style:solid; border-color: black; font-size: large;
}
.btn2::before{
  content: "";
position: absolute;
top: 0;
left: 0;
display: block;
width: 100%;
height: 100%;
z-index: -1;
background-color: #000;
-webkit-transform: scaleY(.3);
transform: scaleY(.3);
opacity: 0;
transition: all .3s
}

.btn2:hover{
  color:#6098FF;  
}
.btn2:hover::before{
  opacity: 1;
  background-color: #fff;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
  transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
}

/*======= Button 4 회원가입 =======*/
.btn4 {
	border-style:hidden;

}
.btn4::before {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #6098FF;
  display: block;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}

.btn4:hover::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}
