<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.universe.mapper.AdminMapper">

	<sql id="criteria">
			<trim prefix="(" suffix= ") and " prefixOverrides="OR">
				<foreach collection="typeArr" item="type">
					<trim prefix="OR">
						<choose>
							<when test="type == 'I'.toString()">
								id like '%'||#{keyword}||'%' 
							</when>
							<when test="type == 'N'.toString()">
								name like '%'||#{keyword}||'%' 
							</when>
							<when test="type == 'B'.toString()">
								nickname like '%'||#{keyword}||'%' 
							</when>
							
						</choose>
					</trim>
				</foreach>
			</trim>	
	</sql>
	
	<select id="getlistWithPaging" resultType="com.universe.domain.MemberVO">
		<![CDATA[
			
			select id,name,nickname,phone,status 
			from (
				select /*+ index_desc(member member_pk)*/ rownum rn ,id,name,nickname,phone,status 
				from member 
				where 
			]]>	
			
		<include refid="criteria"></include>
		
			
			
		<![CDATA[
				 rownum <= #{pageNum} * #{amount}
			)
			where rn > (#{pageNum}-1) * #{amount}
		
		]]>
		
		
	</select>
	
	
	
	<select id="getTotalCount" resultType="int">
		
			select count(*) from member where 
			
			<include refid="criteria"></include>
		<![CDATA[	
			  usernumber>0
		]]>
	
		
	</select>
	
	
	<!-- status바꾸는 메소드 -->
	<update id="admin_member_forced_checked">
		update member set status = #{block} where id=#{id}
	</update>
	
	<!-- admin_alert페이지 리스트 출력 -->
	<select id="admin_alert" resultType="com.universe.domain.ReportVO">
		select * from report
		
		
		
	</select>
	
	
	<!-- Report테이블에 value값(관리자가 기재하는 정지/블락 이유)을 admin_report컬럼에 update -->
	<update id="Admin_Reason">
		update report set admin_report = #{reason} where report_seq = #{report_seq}
	</update>
	
	
	<!-- 검색기능 -->
	<select id="adminmenu" resultType="com.universe.domain.MemberVO">
		select * from member where status=#{str}
	</select>
	
	<!-- 카테고리별 출력 -->
	<select id="allList" resultType="com.universe.domain.MemberVO">
		select * from member
	</select>
	
	
	<select id="nextPage" resultType="com.universe.domain.MemberVO">
	<![CDATA[	
		select * from member where usernumber < #{usernumber} and rownum = 1 order by usernumber desc
		]]>
	</select>
	
	<select id="prevPage" resultType="com.universe.domain.MemberVO">
		<![CDATA[	
		select * from member where usernumber > #{usernumber} and rownum = 1 order by usernumber asc
		]]>
	</select>
	
	
	<!-- admin_alert -->
	
	
	<select id="alert_getTotalCount" resultType="int">
		
			select count(*) from report where 
			
			<include refid="criteria"></include>
		<![CDATA[	
			  report_seq>0
		]]>
	
		
	</select>
	
	<select id="alert_getlistWithPaging" resultType="com.universe.domain.ReportVO">
		<![CDATA[
			
			select reported_id,id,report,indate 
			from (
				select /*+ index_desc(report report_pk)*/ rownum rn ,reported_id,id,report,indate  
				from report 
				where 
			]]>	
			
		<include refid="criteria"></include>
		
			
			
		<![CDATA[
				 rownum <= #{pageNum} * #{amount}
			)
			where rn > (#{pageNum}-1) * #{amount}
		
		]]>
		
	</select>
	
	<select id="admin_alertmenu" resultType="com.universe.domain.ReportVO">
		select * from report where reported_id=#{reported_id}
	</select>
	
	<select id="alert_nextPage" resultType="com.universe.domain.ReportVO">
	<![CDATA[	
		select * from report where report_seq < #{usernumber} and rownum = 1 order by report_seq desc
		]]>
	</select>
	
	<select id="alert_prevPage" resultType="com.universe.domain.ReportVO">
		<![CDATA[	
		select * from report where report_seq > #{usernumber} and rownum = 1 order by report_seq asc
		]]>
	</select>
	
	<!-- 카테고리별 출력 -->
	<select id="alert_allList" resultType="com.universe.domain.ReportVO">
		select * from report
	</select>
	
	
	
</mapper>