<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.universe.mapper.FaqMapper">

	<insert id = "register">
		insert into faq (qno, id, reply, replyer)
		values (qno_seq.nextval, #{id}, #{reply}, #{replyer})
	</insert>
	
	<delete id="delete">
		delete from faq where qno = #{qno}
	</delete>
	
	<select id="getListWithPaging" resultType="com.universe.domain.FaqVO">
		<![CDATA[
			select * from (
			select /*+index_desc(faq faq_pk) */ rownum rn, qno, id, reply, replyer, replydate 
			from faq 
			where id = #{id} and qno > 0 and rownum <= #{cri.pageNum} * #{cri.amount}) 
			where (rn > (#{cri.pageNum} -1) * #{cri.amount})
		]]>
	</select>
	
	<select id="counting" resultType="int">
		select count(*) as cnt from faq where id = #{id}
	</select>
	
</mapper>
